version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
    allow:
      - dependency-type: direct
    ignore:
      - dependency-name: "*glob"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "strip-ansi"
        update-types: ["version-update:semver-major"]
      - dependency-name: "*chai*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@vscode/vsce"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/vscode"
      - dependency-name: "@types/svgicons2svgfont"
      - dependency-name: "octokit"
        update-types: ["version-update:semver-major"]
      - dependency-name: "eslint-plugin-mocha"
        update-types: ["version-update:semver-major"]
      # Newer versions of fantasticon are broken on Windows.
      # https://github.com/tancredi/fantasticon/issues/470
      - dependency-name: "fantasticon"
    groups:
      all-dependencies:
        patterns:
          - "*"
