version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: direct
    ignore:
      - dependency-name: "*glob"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "strip-ansi"
        update-types: ["version-update:semver-major"]
      - dependency-name: "*chai*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@vscode/vsce"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/vscode"
      - dependency-name: "mocha"
        update-types: ["version-update:semver-major"]
    groups:
      all-dependencies:
        patterns:
          - "*"
