# Build Outputs
*.vsix
out
dist
coverage
test-results
userdocs/userdocs.docc/.docc-build

# SwiftPM cache for tests
.spm-cache

# Generated Assets
assets/documentation-webview
assets/icons
assets/swift-docc-render
assets/test/**/Package.resolved

# Node
node_modules

# Hidden Directories
.vscode-test
.build
.index-build

# macOS
.DS_Store

# Miscellaneous
default.profraw
ud
