# Only lint certain file types
*.*
!*.js
!*.json
!*.ts

# Directories ignored by default that actually should be formatted
!.vscode/

# NodeJS
node_modules/

# vscode-test
.vscode-test/

# Extension directories that don't need formatting
/assets/
/coverage/
/dist/
/snippets/

# macOS CI
/ud/