**/*
!LICENSE
!NOTICE.txt
!CHANGELOG.md
!README.md
!icon.png
!package.json
!dist/**
!images/**
!snippets/**
!assets/icons/**
!assets/documentation-webview/**
!assets/swift-docc-render/**
!node_modules/@vscode/codicons/**

# Keep tutorial assets
!assets/tutorial/**

.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
.gitignore
.github/**
.devcontainer/**
.eslintrc.json
.mailmap
.mocha-reporter.js
.nvmrc
.prettierignore
.prettierrc.json
.unacceptablelanguageignore
.vscode-test.js
tsconfig.json
tsconfig-base.json
package-lock.json
CONTRIBUTING.md
CONTRIBUTORS.txt
