.github/**
.gitignore
.mailmap
.nvmrc
.vscode/**
.vscode-test/**
docker/**
assets/test/**
node_modules/**
out/**
scripts/**
src/**
test/**
coverage/**
docs/**
.devcontainer/**
**/.eslintrc.json
**/.prettierignore
**/.prettierrc.json
**/tsconfig.json
**/*.map
.vscode-test.js
CHANGELOG.md
CONTRIBUTORS.txt