name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Test
    uses: award999/github-workflows/.github/workflows/swift_package_test.yml@dockerless-windows
    with:
      # Linux
      linux_exclude_swift_versions: '[{"swift_version": "nightly-main"}]'
      linux_env_vars: |
        NODE_VERSION=v18.19.0
        NODE_PATH=/usr/local/nvm/versions/node/v18.19.0/bin
        NVM_DIR=/usr/local/nvm
        CI=1
        FAST_TEST_RUN=1
      linux_pre_build_command: |
        apt-get update && apt-get install -y rsync curl gpg libasound2 libgbm1 libgtk-3-0 libnss3 xvfb build-essential
        mkdir -p $NVM_DIR
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
        /bin/bash -c "source $NVM_DIR/nvm.sh && nvm install $NODE_VERSION"
        echo "$NODE_PATH" >> $GITHUB_PATH
      linux_build_command: ./docker/test.sh
      # Windows
      windows_exclude_swift_versions: '[{"swift_version": "nightly"}]'
      windows_env_vars: |
        CI=1
        VSCODE_TEST=1
        FAST_TEST_RUN=1
      windows_pre_build_command: .github\workflows\scripts\windows\install-nodejs.ps1
      windows_build_command: docker\test-windows.ps1
      enable_windows_docker: false

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      # Pending https://github.com/swiftlang/vscode-swift/pull/1176
      license_header_check_enabled: false
      license_header_check_project_name: "VS Code Swift"
      api_breakage_check_enabled: false
      docs_check_enabled: false
      format_check_enabled: false
      shell_check_enabled: true
      unacceptable_language_check_enabled: true
